<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Plain Text</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.plain-text</string>
        <string>public.text</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Default</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Markdown</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>net.daringfireball.markdown</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Default</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>JSON</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.json</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Default</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>HTML</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.html</string>
        <string>public.xhtml</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Default</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>CSS</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.css</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Default</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>JavaScript</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.javascript</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Default</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>XML</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.xml</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Default</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>YAML</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.yaml</string>
        <string>public.yaml-yml</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Default</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Shell Script</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.shell-script</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Default</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Source Code</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.source-code</string>
        <string>public.python-script</string>
        <string>public.java-source</string>
        <string>public.c-source</string>
        <string>public.c-plus-plus-source</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Default</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>SVG Image</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.svg-image</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Default</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>SQL</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.sql</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Default</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Go Source</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.go-source</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Default</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Ruby Source</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.ruby-source</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Default</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>PHP Source</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.php-source</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Default</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>TOML</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.toml</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Default</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Configuration File</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.plain-text</string>
      </array>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>gitignore</string>
        <string>editorconfig</string>
        <string>dockerfile</string>
        <string>env</string>
        <string>ini</string>
        <string>cfg</string>
        <string>conf</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Default</string>
    </dict>
  </array>
</dict>
</plist>
